{% extends 'messagin_service/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Управление клиентами</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3"></ul>
                    <a class="btn btn-primary" href="{% url 'messagin_service:client_list' %}" role="button">Открыть</a>
                </div>
            </div>
            <div class="card mb-4 box-shadow mt-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Управление сообщениями</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3"></ul>
                    <a class="btn btn-primary" href="{% url 'messagin_service:message_list' %}" role="button">Открыть</a>
                </div>
            </div>
            <div class="card mb-4 box-shadow mt-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Управление рассылками</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3"></ul>
                    <a class="btn btn-primary" href="{% url 'messagin_service:mailings_list' %}" role="button">Открыть</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}